<app-hero-header [title]="aboutHeroData().title"
  [highlightedWords]="aboutHeroData().highlightedWords"
  [description]="aboutHeroData().description"
  [config]="aboutHeroData().config">
</app-hero-header>
<!-- About History -->
<app-about-history-section />

<!-- Stats -->
<app-stats-section [stats]="statsData()" />

<!-- Quote -->
<app-quote-section />

<!-- Mission & Values -->
<app-mission-values-section [values]="valuesData()" />
<!-- <app-team-section [teamMembers]="teamMembers()" [sectionTitle]="'Conoce a Nuestro Equipo'"
  [sectionSubtitle]="'Nuestro diverso equipo de expertos reúne décadas de experiencia en diseño, ingeniería y fabricación.'" /> -->
<app-cta-section [title]="ctaData().title" [description]="ctaData().description" [backgroundImage]="ctaData().backgroundImage"
  [button]="ctaData().button" [highlightedWord]="ctaData().highlightedWord">
</app-cta-section>
