/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";
@use "./assets/styles/root.scss";
@use "bootstrap-icons/font/bootstrap-icons.css";
@use "primeicons/primeicons.css";
@plugin "tailwindcss-primeui";