@use "variables.scss" as variables;
@use "mixins.scss" as mixins;

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0px 24px;

  @include mixins.desktop {
    padding-top: 80px;
  }
}

.container--fluid {
  padding: 0px 24px;

  @include mixins.desktop {
    margin: 0 auto;
    padding: 0px;
  }
}

.text--secondary {
  color: variables.color(secondary);
}

.container--payment .p-inputnumber {
  width: 100%;
}
